.hero-section {
    padding-top: 27px;
    height: 636px;
}

.hero-text h1 {
    font-size: 28px;
    font-weight: 700;
}
.sub-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #3e495a;
}
@media (min-width: 576px) {
    .hero-section {
        padding-top: 37px;
        height: 336px;
        background: url("../../img/bluebg.jpg") no-repeat;
        background-position: right bottom;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 140%;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .sub-title {
        margin-top: 19px;
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    .hero-section {
        padding-top: 71px;
        height: 534px;
        -moz-background-size: auto auto;
        -webkit-background-size: auto auto;
        -o-background-size: auto auto;
        background-size: auto auto;
    }
    .hero-text h1 {
        font-size: 52px;
    }
    .sub-title {
        margin-top: 19px;
        font-size: 28px;
    }
}
@media (min-width: 992px) {
    .hero-text h1 {
        font-size: 56px;
    }
    .hero-section {
        padding-top: 102px;
        height: 636px;
    }
}
@media (min-width: 1440px) {
    .hero-section {
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
}